In [ ]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [ ]:
# Read the CSV files into DataFrames
df1 = pd.read_csv('athletic_sales_2020.csv')
df2 = pd.read_csv('athletic_sales_2021.csv')

In [ ]:
# Display the 2020 sales DataFrame
display(df2020)

In [ ]:
# Display the 2021 sales DataFrame
display(df2021)

#### Check the data types of each DataFrame

In [ ]:
# Check the 2020 sales data types
df2020.dtypes

In [ ]:
# Check the 2021 sales data types.
df2021.dtypes

#### Combine the sales data by rows.

In [ ]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
df2020_2021 = pd.concat([df2020, df2021]).reset_index(drop=True)

In [ ]:
# Check if any values are null.
df.isnull().any()

In [ ]:
# Check the data type of each column
df.dtypes

In [ ]:
# Convert the "invoice_date" to a datetime datatype
df['invoice_date'] = pd.to_datetime(df['invoice_date'])

In [ ]:
# Confirm that the "invoice_date" data type has been changed.
df.dtypes

### 2. Determine which Region Sold the Most Products

In [ ]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')




# Show the top 5 results.
df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold').head(5)

#### Using `pivot_table`

In [ ]:
# Show the number products sold for region, state, and city.
df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold').head(5)


# Show the top 5 results
df_products_sold.head(5)

# Show the top 5 results.
df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold').head(5)

### 3. Determine which Region had the Most Sales

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')

# Show the top 5 results.
df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales').head(5)

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')

# Optional: Rename the "total_sales" column to "Total Sales"
df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
df.head(5)

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')

# Show the top 5 results.
df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales').head(5)

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')

# Optional: Rename the "total_sales" column to "Total Sales"
df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
df.head(5)

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.
women_sales_data = df[df['product_category'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# show the top five results
df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index(name='Womens_Footwear_Units_Sold').head(5)

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index(name='Womens_Footwear_Units_Sold')


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index(name='Womens_Footwear_Units_Sold').head(5)

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column as the index, and the "total_sales" as the values.
pivot_table = df.pivot_table(index='invoice_date', values='total_sales')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
pivot_table

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table.resample('D').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
daily_sales_sorted = daily_sales.sort_values('Total Sales', ascending=True)

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_sales_sorted = weekly_sales.sort_values('Total Sales', ascending=True)